/* GLOBAL */

@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

:root{
  --beige: rgb(255,200,150);
  --scarlet: rgb(150,0,0);
  --Merri: 'Merriweather', serif;
}

h1{
  font-family: var(--Merri);
}

a{
  color: black;
}

a:hover{
  color: var(--scarlet);
  text-decoration: none;
}

.error-message{
  margin: 2em;
  padding: 1em;
  background-color: rgb(255,200,200);
  text-align: center;
  border: 1px solid red;
}

iframe, img{
  width: 90%;
}

/* MAIN */

main{
  box-sizing: border-box;
  margin: 0 1em;
}

.home-page h2{
  font-family: var(--Merri);
}

.quote-container{
  padding: 1em;
  border: 3px double #ccc;
  margin: 0 auto;
  width: 60%;
}

#api-quote{
  font-family: var(--Merri)
}

/* HOME PAGE */

.home-page{
  margin: 3em;
}

.home-page h2{
  text-align: center;
}

/* ABOUT */

.about-page{
  text-align: center;
}

.about-page a{
  color: var(--scarlet);
}

.about-page a:hover{
  color: red;
}

.about-page h2{
  font-family: var(--Merri);
}

.about-page h3{
  margin-top: 1em;
}

.about-page img{
  display: block;
  margin: 0 auto;
}

.about-page ul{
  text-align: left;
}

/* HEADER */
.title-bar{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1em;
}

.title-links{
  display: flex;
}

.title-links button{
  margin-left: 1em;
}

header h1:hover{
  cursor: pointer;
}

header ul{
  list-style-type: none;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

header li{
  margin: 1em;
}

header li:hover{
  cursor: pointer;
  color: var(--scarlet);
}

/* FOOTER */
footer{
  margin: 0 auto;
  margin-top: 7em;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  position: relative;
  bottom: 0;
}

.footer-about, .footer-connect{
  margin: 1em;
  width: 30%;
}

.footer-connect{
  text-align: center;
}

.footer-connect ul{
  list-style-type: none;
  display: block;
  margin: 0 auto;
  margin-left: -2em;
}

/* ADD/EDIT PROMPT */

.new-prompt{
  margin-top: 4em;
  margin-left: 1em;
}

.prompt-form label{
  text-align: left;
  display: block;
}

.prompt-form input[type=text], textarea{
  outline-color: black;
}

.prompt-form input[type=text]{
  display: inline;
  text-align: left;
  width: 400px;
}

.prompt-form input[type=submit], .prompt-form input[type=number]{
  display: block;
  margin: 0;
  margin-bottom: 1em;
}

.prompt-form textarea{
  display: block;
  text-align: left;
  height: 20vh;
  width: 90%;
  margin-bottom: 1em;
  resize: none;
}

/* LOGIN FORM */

.auth-page {
  display: block;
  margin: 0 35em;
}

.auth-page h2{
  text-align: center;
}

.auth-page form{
  display: block;
  margin: 0 auto;
}

.auth-page label, .auth-page input{
  display: block;
  margin: 0 auto;
  text-align: center;
}

.auth-page a{
  margin-left: 2.2em;
  font-size: 0.8em;
}

.auth-page img{
  display: block;
  margin: 0 auto;
  width: 100%;
}

.auth-page input[type=submit]{
  margin-top: 1em;
}

/* INDEX DISPLAY */

.one-prompt{
  border-bottom: 1px solid #ccc;
}

.mb-0{
  font-size: 1.5em;
  text-align: left;
  font-family: var(--Merri);
}

.mb-0:hover{
  cursor: pointer;
  color: var(--scarlet);
}

.byline{
  text-align: right;
  margin-right: 3em;
  font-size: 1.2em;
}

/* SHOW DISPLAY */

.prompt-show{
  border-bottom: 0.1px solid #ccc;
}

.prompt-show h3{
  font-family: var(--Merri);
}

.prompt-details{
  display: flex;
  justify-content: space-between;
}

.prompt-stats ul, .reply-stats ul{
  list-style-type: none;
  display: flex;
  justify-content: left;
  padding: 0;
  margin-left: 1em;
}

.prompt-stats li, .reply-stats li{
  margin: 0;
  margin-right: 1em;
}

.prompt-options, .reply-options{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.prompt-options form, .prompt-options button, .reply-options form, .reply-options button{
  margin-left: 2em;
}

.prompt-options button, .prompt-options input{
  border: 1px solid black;
}

/* RESPONSE SECTION */

.prompt-responses{
  margin: 1em;
}

.reply{
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  margin-bottom: 1em;
}

.readmore{
  color: var(--scarlet);
}

.readmore:hover{
  color: #888;
}

.original-prompt{
  text-align: center;
}

blockquote .note-video-clip{
  width: 320px;
  height: 180px
}

blockquote img{
  width: 293px !important;
}

/* MODAL */

.my-modal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.my-modal-textbox{
  background-color: var(--beige);
  border: 1px solid black;
  text-align: center;
  padding: 1em;
  margin: 15em auto;
  width: 80%;
}

/* USERS */

.user-show img{
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.user-show h2{
  text-align: center;
}

.profile-actions{
  text-align: center;
}

.profile-actions button, .profile-actions form{
  display: inline;
}

.profile-actions input{
  margin: 0;
}
